CMakeCache.txt
/CMakeFiles
/*.cfg
*.gitattributes
*.opensdf
*.fil
*.fil.*
*.sdf
*.suo
*.vcxproj
*.filters
*.log
*.tlog
*.lastbuildstate
*.obj
*.idb
*.pdb
*.exe
*.ilk
*.user
*.out
*.output
*.pyc
*.*~*
*.swp
*.swo
*.nfs*
*.pdf
*.o
*.d
*.dll
*.lib
*.exe
*.blg
*.fls
*.out
*.aux
*.zip
*.tgz
*.tar
*.bak
*.vtc
makeout
tags
.idea/
build/
input_files/
cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/
build_*/
killme/
